/*-- Element level styles --*/
body {
  font-family: 'Roboto', serif;
  background: #fff;
  margin: 0;
  text-decoration: none;
}

section {
  margin: 0;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 2% 0;
  line-height: 1.5em;
}


/*-- Content Layout --*/

.content {
  position: relative;
}

.side-nav {
  /* float: left; */
  position: fixed;
  height: 100%;
  width: 25%;
  text-align: center;
  background: #4d6571;
}

.main-content {
  width: 70%;
  display: block;
  float: right;
  margin: 0 2% 0 0;
}

.blog-header {
  margin: 90% auto;
}

.section-list {
  display: inline-block;
}

/*-- Blog link button --*/
.link-item {
  margin: 5% 0;
  padding: 0 15px;
  border-style: solid;
  border-width: 0 0 0 10px;
  border-color: #4d6571;
  display: block;
}

/*-- Sizes --*/

.main-content h1 {
  font-size: 2em;
}

.tutorial h1 {
  font-size: 3em;
  margin: 5% 0 0 0;
  color: #424242;
}

.tutorial h2 {
  color: #E91E63;
}

/*-- Colors --*/
.side-nav a {
  color: #ffeb3b;
}

.link-item a, .link-item a:visited {
  color: #424242;
  display: block;
}

.link-item:hover {
  border-color: #FFF176;
}


.link-item:hover .title-tagline {
    color: #ffeb3b;
}

/*-- Mobile breakpoint --*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */


    h1 {
      display: inline-flex;;
      flex-direction: column;
      margin-left: 10px;
    }
    .content {
      position: relative;
    }

    .side-nav {
      /* float: left; */
      position: fixed;
      height: auto;
      width: 100%;
      text-align: center;
      background: #4d6571;
      padding: 10% 0;
      margin: 0 0 2%;
      opacity: 0.9;
    }

    .main-content {
      width: 95%;
      display: block;
      float: none;
      margin: 0 0 0 3%;
      padding: 30% 0;
    }

    .blog-header {
      margin: auto;
      /* position: fixed; */
    }

    .section-list {
      display: inline-block;
    }

    /*-- Fucking with Flex --*/


}
